<app-header
  type="simple"
  title="EMAIL TỰ ĐỘNG"
  (backClick)="backToRounds()"
></app-header>

<ion-content [fullscreen]="true" class="ion-padding has-header-simple no-bottom-nav">
  <!-- Chỉ hiển thị nội dung khi có query params hợp lệ -->
  <div *ngIf="hasValidParams">
    <!-- Hiển thị list samples -->
    <div *ngIf="showSamplesList">
    <ion-list>
      <ion-item button *ngFor="let sample of (samples || []); let i = index" (click)="selectTemplate(sample)">
        <ion-label>{{getTemplateDisplayName(sample) || 'Template ' + (i + 1)}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="block" fill="outline" (click)="openTemplateEditor()" style="margin-top: 20px;">
      Tạo mới
    </ion-button>
  </div>
  </div>
</ion-content>

